<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<body>
	<h1>Microservice Shops Client</h1>
	Go to <a th:href="@{/}">Index</a> Page
	<ul>
		<li th:text="|Name: ${shop.name}|"></li>
        <li th:text="|Street: ${shop.shopAddress.street}|">Street</li>
        <li th:text="|Number: ${shop.shopAddress.number}|"></li>
        <li th:text="|Postal Code: ${shop.shopAddress.postCode}|">Postal Code</li>
        <li th:text="|Latitude: ${shop.latitude}|">Latitude</li>
        <li th:text="|Longitude: ${shop.longitude}|">Longitude</li>
</ul>

	<div style="height: 2cm">&nbsp;</div>
	<div>
		List of Shops:
		<table>
			<tr th:each="shop : ${shops}">
		        <td th:text="|Name: ${shop.name}|"></td>
				<td th:text="|Street: ${shop.shopAddress.street}|">Street</td>
				<td th:text="|Number: ${shop.shopAddress.number}|"></td>
				<td th:text="|Postal Code: ${shop.shopAddress.postCode}|">Postal Code</td>
				<td th:text="|Latitude: ${shop.latitude}|">Latitude</td>
				<td th:text="|Longitude: ${shop.longitude}|">Longitude</td>
			
			</tr>
			
		</table>
	</div>
</body>
</html>
